<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav th:replace="~{home :: header}" class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:text="'Witaj, ' + ${currentUser != null ? currentUser.getName() : 'Gościu'}" class="navbar-text d-inline nowrap" > </li>
            <li class="nav-item d-inline nowrap" >
                <a class="nav-link active" aria-current="page" th:href="@{/myReservations}">Moje rezerwacje</a>
            </li>
            <li class="nav-item d-inline nowrap" >
                <a class="nav-link active" aria-current="page" th:href="@{/users}">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <span th:if="${currentUser.getReservation_id() == null}">
            <h1>Nie masz jeszcze żadnych rezerwacji :(</h1>
            <a th:href="@{/reservation}">Zarezerwuj samochód!</a>
        </span>
        <span th:if="${currentUser.getReservation_id() != null}">
            <h1>Twoje rezerwacje:</h1>
            <div class="form-group mb-3">
                 <table class = "table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Numer rezerwacji</td>
                            <td>Zarezerwowany samochod</td>
                            <td>Wyjazd za granice</td>
                            <td>Ubezpieczenie</td>
                            <td>Początek rezerwacji</td>
                            <td>Koniec rezerwacji</td>
                            <td>Wynajem w oddziale</td>
                            <td>Zwrot w oddziale</td>
                            <td>Cena</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reservation: ${reservationsList}">
                            <td th:text="${reservation.getId()}"></td>
                            <td th:text="${reservation.getCar().getBrand()} + ' ' + ${reservation.getCar().getBrand()}"></td>
                            <td th:text="${reservation.isGoing_abroad()}"></td>
                            <td th:text="${reservation.isInsurance()}"></td>
                            <td th:text="${#dates.format(reservation.getReservation_start(), 'dd-MM-yyyy')}"></td>
                            <td th:text="${#dates.format(reservation.getReservation_end(), 'dd-MM-yyyy')}"></td>
                            <td th:text="${reservation.getRental_division()}"></td>
                            <td th:text="${reservation.getReturn_division()}"></td>
                            <td th:text="${reservation.getCost()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </span>
    </div>
</div>
</body>
</html>