<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CAR RENTAL INC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:text="'Witaj, ' + ${currentUser != null ? currentUser.getName() : 'Gościu'}" class="navbar-text d-inline nowrap" > </li>
            <li class="nav-item d-inline nowrap" >
                <a class="nav-link active" aria-current="page" th:href="@{/myReservations}">Moje rezerwacje</a>
            </li>
            <li class="nav-item d-inline nowrap" >
                <a class="nav-link active" aria-current="page" th:href="@{/users}">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <h1>Zarezerwuj swój samochdów!</h1>
        <div class="form-group mb-3">
            <table class = "table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Marka</td>
                    <td>Model</td>
                    <td>Rodzaj nadwozia</td>
                    <td>Rok produkcji</td>
                    <td>Kolor</td>
                    <td>Przebieg</td>
                    <td>Cena za dobe</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${carList}">
                    <td th:text="${car.getBrand()}"></td>
                    <td th:text="${car.getModel()}"></td>
                    <td th:text="${car.getBodyType()}"></td>
                    <td th:text="${car.getProductionYear()}"></td>
                    <td th:text="${car.getColor()}"></td>
                    <td th:text="${car.getMileage()}"></td>
                    <td th:text="${car.getCostPerDay()}"></td>
                    <td th:text="${car.getStatus}"></td>
                    <td th:if="${car.status.name == 'AVAILABLE'}">
                        <a th:href="@{/makeReservation/__${car.getId()}__}">Rezerwuj!</a>
                    </td>
                    <td th:unless="${car.status.name() == 'AVAILABLE'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>