<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="head" th:replace="~{home :: header}"></div>
<div class="userPanel">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
            <th scope="col">Username</th>
            <th scope="col">Principal role</th>
            <th scope="col">Edit user</th>
            <th scope="col">Deactivate user</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${users.isEmpty()}"><td colspan="6"> No users available. Which is impossible, so something went wrong dog.</td></tr>
            <tr th:each="user : ${users}">
                <td><span th:text="*{user.getName()}" th:classappend="${user.isActive() ? '' : 'text-decoration-line-through'}"> Name </span> </td>
                <td><span th:text="${user.getEmail()}" th:classappend="${user.isActive() ? '' : 'text-decoration-line-through'}"> Mail </span> </td>
                <td><span th:text="${user.getUsername()}" th:classappend="${user.isActive() ? '' : 'text-decoration-line-through'}"> Username </span> </td>
                <td><span th:text="${user.getPrincipalRole()}" th:classappend="${user.isActive() ? '' : 'text-decoration-line-through'}"> Principal role </span> </td>
                <div th:if="${user.getId() ne currentUser.getId()}">
                    <td th:if="${user.isEmployee()}"><a  th:href="@{/users/employee/} + ${user.getId()}">Edit</a></td>
                    <td th:if="${user.isCustomer()}"><a  th:href="@{/users/customer/} + ${user.getId()}">Edit</a></td>
                    <td th:if="${user.isAdministrator()}"><a  th:href="@{/users/administrator/} + ${user.getId()}">Edit</a></td>
<!--                    TODO: It shouldn't be possible to disable a user, that is a manager -->
                    <td th:if="${user.isEmployee()}"><a  th:href="@{/users/user/toggle/} + ${user.getId()}" th:text="${user.isActive() ? 'Deactivate' : 'Activate'}"></a></td>
                    <td th:if="${user.isCustomer()}"><a  th:href="@{/users/user/toggle/} + ${user.getId()}" th:text="${user.isActive() ? 'Deactivate' : 'Activate'}">Delete</a></td>
                    <td th:if="${user.isAdministrator()}"><a  th:href="@{/users/user/toggle/} + ${user.getId()}" th:text="${user.isActive() ? 'Deactivate' : 'Activate'}">Delete</a></td>
                </div>
                <div th:if="${!(user.getId() ne currentUser.getId())}">
                    <td colspan="2">Cannot edit current user</td>
                </div>

            </tr>
        </tbody>
    </table>
</div>
</body>