<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="head" th:replace="~{home :: header}"></div>
<h1 class="display-8">User edit form</h1>
<form method="post" th:action="@{/users/employee/edit}" th:object="${employee}">

   <input type="hidden"  name="id" th:value="${employee.getId()}">

    <label for="name-input">Name: </label>
    <input type="text"  id="name-input" name="name" th:value="${employee.getName()}">

    <label for="name-input">Username: </label>
    <input type="text"  id="username-input" name="username" th:value="${employee.getUsername()}">

    <input type="hidden"  id="password-input" name="password" th:value="${employee.getPassword()}">

    <label for="email-input">Email: </label>
    <input type="text"  id="email-input" name="email" th:value="${employee.getEmail()}">

    <label for="position-input">Position: </label>
    <select id="position-input" name="position" th:field="${employee.position}">
        <option th:each="position : ${positions}"
                th:value="${position}"
                th:text="${position.name()}">
        </option>
    </select>

    <input type="submit" value="Save">
</form>
</body>