<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CAR RENTAL INC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:text="'Welcome, ' + ${currentUser.getName()}" class="navbar-text d-inline nowrap" > </li>
            <li class="nav-item d-inline nowrap" >
                <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br />
<body>
<div class="container">
    <div class="row">
        <h1> Witaj w świecie Spring Security!</h1>
    </div>
</div>
</body>
</html>