<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand">Spring Security Login With Database Authentication</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li th:text="'Welcome, ' + ${currentUser.getName()}" class="navbar-text d-inline nowrap" >
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <h1>Wybrany samochód</h1>
        <div class="form-group mb-3">
            <table class = "table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Marka</td>
                    <td>Model</td>
                    <td>Rodzaj nadwozia</td>
                    <td>Rok produkcji</td>
                    <td>Kolor</td>
                    <td>Przebieg</td>
                    <td>Cena za dobe</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${carList.get(0).getBrand()}"></td>
                    <td th:text="${carList.get(0).getModel()}"></td>
                    <td th:text="${carList.get(0).getBody_type()}"></td>
                    <td th:text="${carList.get(0).getProduction_year()}"></td>
                    <td th:text="${carList.get(0).getColor()}"></td>
                    <td th:text="${carList.get(0).getMileage()}"></td>
                    <td th:text="${carList.get(0).getCost_per_day()}"></td>
                </tr>
                </tbody>
            </table>
            <div th:with="insurance = ${79 * 12}, abroad = ${100}, cost = ${carList.get(0).getCost_per_day()}">
            <form method="post" th:action="@{/summary}" th:object="${reservation}">
                <input type="hidden" id="id" name="id" th:field="*{id}">
                <input type="hidden" id="car" name="car" th:value="${carList.get(0)}" th:field="*{car}">
                <input type="hidden" id="customer" name="customer" th:value="${currentUser}" th:field="*{customer}">
                <div class="form-group mb-3">
                    <label class="control-label">Oddział odebrania samochodu:</label>
                    <select class="ui fluid search dropdown" id="rental_division" name="rental_division"  th:field="*{rental_division}">
                        <option th:each="division : ${divisionList}" th:text="${division.getAddress().getCity()}" th:value="${division.getAddress().getCity()}"></option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Oddział zwrócenie samochodu:</label>
                    <select class="ui fluid search dropdown" id="return_division" name="return_division"  th:field="*{return_division}">
                        <option th:each="division : ${divisionList}" th:text="${division.getAddress().getCity()}" th:value="${division.getAddress().getCity()}"></option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Data rozpoczęcia rezerwacji:</label>
                    <input type="date" id="reservation_start" name="reservation_start" th:field="*{reservation_start}" class="form-control"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Data zakończenia rezerwacji:</label>
                    <input type="date" id="reservation_end" name="reservation_end" th:field="*{reservation_end}" class="form-control"/>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Zaznacz dodatkowe ubezpieczenie jeśli potrzebne (79zł/dzień): </label>
                    <input type="checkbox" th:checked="${flag1}" id="insurance" name="insurance" th:value="${flag1}" th:field="*{insurance}">
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Zgoda na wyjazd za granice (100zł): </label>
                    <input type="checkbox" th:checked="${flag2}" id="goind_abroad" name="goind_abroad" th:value="${flag2}" th:field="*{going_abroad}">
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Suma kosztu rezerwacji:</label>
                    <div th:if="${flag1 == true and flag2 == false}">
                        <th:block th:with="totalcost1 = ${cost * 12 + insurance}"> <!-- change number of days (12) to a variable from reservation form -->
                            <input type="text" readonly="readonly" th:text="${totalcost1}">
                        </th:block>
                    </div>
                    <div th:if="${flag2 == true and flag1 == false}">
                        <th:block th:with="totalcost2 = ${cost * 12 + abroad}"> <!-- change number of days (12) to a variable from reservation form -->
                            <input type="text" readonly="readonly" th:text="${totalcost2}">
                        </th:block>
                    </div>
                    <div th:if="${flag1 == true and flag2 == true}">
                        <th:block th:with="totalcost3 = ${cost * 12 + insurance + abroad}"> <!-- change number of days (12) to a variable from reservation form -->
                            <input type="text" readonly="readonly" th:text="${totalcost3}">
                        </th:block>
                    </div>
                    <div th:if="${flag1 == false and flag2 == false}">
                        <th:block th:with="totalcost4 = ${cost * 12}"> <!-- change number of days (12) to a variable from reservation form -->
                            <input type="number" step="any" id="cost" name="cost" th:field="*{cost}">
                            <p th:text="${totalcost4}"></p>
                        </th:block>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary">Rezerwuj!</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>