<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <a class="navbar-brand">Wypożyczalnia samochodów</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/myReservations}">Reservations</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
            </li>
            <li th:text="'Welcome, ' + ${currentUser.getName()}" class="navbar-text d-inline nowrap" >
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <h1>Wybrany samochód</h1>
        <div class="form-group mb-3">
            <table class = "table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Marka</td>
                    <td>Model</td>
                    <td>Rodzaj nadwozia</td>
                    <td>Rok produkcji</td>
                    <td>Kolor</td>
                    <td>Przebieg</td>
                    <td>Cena za dobe</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${reservation.getCar().getBrand()}"></td>
                    <td th:text="${reservation.getCar().getModel()}"></td>
                    <td th:text="${reservation.getCar().getBody_type()}"></td>
                    <td th:text="${reservation.getCar().getProduction_year()}"></td>
                    <td th:text="${reservation.getCar().getColor()}"></td>
                    <td th:text="${reservation.getCar().getMileage()}"></td>
                    <td th:text="${reservation.getCar().getCost_per_day()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div class="form-group mb-3">
                <label class="control-label">Oddział odebrania samochodu:</label>
                <p th:text="${reservation.getRental_division()}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Oddział zwrócenie samochodu:</label>
                <p th:text="${reservation.getReturn_division()}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Data rozpoczęcia rezerwacji:</label>
                <p th:text="${#dates.format(reservation.getReservation_start(), 'dd-MM-yyyy')}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Data zakończenia rezerwacji:</label>
                <p th:text="${#dates.format(reservation.getReservation_end(), 'dd-MM-yyyy')}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Ubezpieczenie (79zł/dzień): </label>
                <p th:text="${reservation.isInsurance()}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Zgoda naw wyjazd za granice (100zł):</label>
                <p th:text="${reservation.isGoing_abroad()}"></p>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Całkowity koszt:</label>
                <p th:text="${reservation.getCost()}"></p>
            </div>
            <div class="form-group mb-3">
                <a th:href="@{/home}">Wróć do home!</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>