<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <style>
        .nowrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div id="head" th:replace="~{home :: header}"></div>
<div class="userPanel">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
            <th scope="col">Username</th>
            <th scope="col">Edit user</th>
        </tr>
        </thead>
        <tbody>
            <tr th:if="${allUsers.isEmpty()}"><td colspan="4"> No users available. Which is impossible, so something went wrong dog.</td></tr>
            <tr th:each="employee : ${allEmployees}">
                <td><span th:text="${employee.getName()}"> Name </span> </td>
                <td><span th:text="${employee.getEmail()}"> Mail </span> </td>
                <td><span th:text="${employee.getUsername()}"> Username </span> </td>
                <td><a  th:href="@{/users/employee/} + ${employee.getId()}">Edit</a></td>
                <td><a  th:href="@{/users/employee/delete/} + ${employee.getId()}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>